.update_comment_form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

.comment_control {
    border: 1px solid #dce6ff;
    margin: 27px 0 20px;
    padding: 30px;
}